
/*
Hello. Welcome.

.---.                           .---.     .
    |                              /   o  |
    | .-. .--..-. .--.--. .  .    /    .  | .-.  .--.
    ;(.-' |  (.-' |  |  | |  |   /     |  |(   ) |
`--'  `--''   `--''  '  `-`--|  '---'-' `-`-`-'`-'
                             ;
                          `-'
©2014 Jeremy Zilar
jeremyzilar [at] gmail.com
http://silencematters.com
http://jeremyzilar.com
@jeremyzilar / Twitter
*/


body{
	color:#434343;
	background: #f9f9f9;
}

body{
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
}

a{
	color:#203B6B;
}

h1{
	font-size:40px;
	font-weight:700;
}

h3{
	margin:20px 0;
	font-size:21px;
	font-weight:900;
}

h4{
	font-size:16px;
	font-weight:600;
	text-transform: uppercase;
}

p{
	margin-bottom: 15px;
}

hr{
	margin:0;
}

section{
	padding-top:40px;
	padding-bottom:40px;
}


.divider{
	margin: 0 auto;
	width:150px;
	border-top:1px #17253A solid;
}


/*Banner*/
#banner{
	padding:0 !important;
}

#banner nav{
	position:absolute;
	top:50px;
	left:5%;
}

#banner nav h1{
	color:#fff;
	display:block;
	width:120px;
	height:120px;
	border-radius: 120px;
	border:1px #fff solid;
	font-size:14px;
}

#banner ul{
	padding:0;
}

#banner li{
	margin:5px 0;
	list-style-type:none;
}

#banner li a{
	padding:3px 10px;
	background:#efefef;
	display:inline-block;
}

/*Headshot*/
.headshot{
	margin: 0 auto 40px auto;
  text-align: center;
	width:141px;
	height:141px;
	border-radius: 75px;
	border:5px #F1F2F2 solid;
	background: #fff;
}

.headshot img{
	margin-left: 4px;
	margin-top: 4px;
	width:123px;
	border-radius: 75px;
}


.vcard{
	text-align: center;
}
.vcard h1{
	margin: 0;
	margin-bottom: 20px;
	font-size: 28px;
	font-weight: 700;
}
.vcard h2{
	margin: 0;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 400;
}
.vcard .adr{
	display: none;
}
.vcard .tel{
	margin-bottom: 20px;
}

.vcard .elsewhere{}
.vcard .elsewhere a {
	margin:0 6px;
	font-size: 16px;
	text-decoration: none;
}
.vcard .elsewhere a:hover{
}
.vcard .elsewhere a span{
	display: none;
}

.vcard .nav{
	margin-bottom:20px;
	font-size: 16px;
	font-weight: 800;
}


/*About Text / Bio*/
#bio{
	margin-bottom: 80px;
}
#bio hr{
	margin:40px 0;
	border-top:1px #333 solid;
}
#bio .photo{
	margin-bottom:20px;
	width:653px;
	height:430px;
}
#bio .photo .credit{
	margin:2px 0;
	font-size:9px;
	color:#888;
	text-align: right;
	display:block;
}

#bio .about{
	font-size: 16px;
}
#bio .about a{
	color:#ff7471;
}

#bio .about img{
	margin: 50px 0 0 0;
}
#bio .vcard .email,
#bio .vcard .tel {
	display: none;
}





#resume{}
#resume .container{
	max-width:720px;
}

#resume .vcard{
	margin:40px 0;
}
#resume .headshot{
	margin-bottom: 10px;
	width:76px;
	height:76px;
}

#resume .headshot img{
	margin-left: 3px;
	margin-top: 3px;
	width:60px;
}
#resume .vcard h1{
	margin: 0;
	margin-bottom: 5px;
	font-size: 21px;
}


#resume #education .job{
	padding: 15px 0;
}

#resume #education .job h3{
	margin-bottom: 10px;
	font-weight: 700;
}

#resume #education .job h5{
	font-weight: 300;
}

#resume .job{
	padding:40px 0;
}
#resume .job .date{
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 12px;
}
#resume .job .date .arrow-down{
	display: none;
}
#resume .job h5{
	margin:0;
	margin-bottom: 10px;
	font-weight: 800;
	font-size: 14px;
	text-transform: uppercase;
}
#resume .job h3{
	margin:0;
	margin-bottom: 16px;
	font-weight: 300;
}
#resume .job p{
	margin-bottom: 8px;
}
#resume .job ul{
	padding:0 0 0 18px;
}

#resume .job ul.tags{
	padding: 0;
}
#resume .job ul.tags li{
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 2px 5px;
	list-style-type: none;
	float: left;
	background: #efefef;
}
#resume .job ul.tags li:first-child{
	/*padding-left: 0px;*/
}
#resume .job .details{
	color:#555;
	font-size: 16px;
}


#resume .print{
	position: absolute;
	top:0;
	right:0;
}







#welcome{
	padding-bottom:120px;
	height:800px;
	background:#222;
}

#kinetoscope img:hover{
	cursor: pointer;
}



/*WORK WORK WORK WORK WORK WORK WORK WORK */

.hed{
	margin-top: -30px;
	padding:0;
	margin-bottom: 45px;
	text-align: center;
}
.hed .job-logo{
	margin-top: 0;
	max-width:175px;
}

.hed h3{
	margin: 0;
}

.project{
	padding-top: 50px;
	padding-bottom: 50px;
	background: #fff;
}
#work{
	padding-top: 80px;
}
body:nth-of-type(1) .project{
	border-top:1px #ccc solid;
}
.project h3{
	margin-top:0;
	margin-bottom:16px;
	font-size:18px;
	font-weight:700;
	color:#434343;
}
.project .item{
	display: none;
	max-height:400px;
	overflow:hidden;
}
.project .item.active{
	display: block;
}
.project-info{
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	padding:0;
	padding-top: 15px;
	border-top: 2px #6d6d6d solid;
}
.project .desc{
	margin-bottom: 15px;
	width:85%;
}
.project .desc p{
	font-size: 14px;
	line-height: 21px;
	color:#666;
}
.project .desc ul{
	padding-left:18px;
	color:#666;
}
.project .desc li{
	color:#666;	
}
.project .project-body{}
.project .project-body > :first-child{
	margin-top: 5px;
}
.project .slides{
	padding:0;
}
.project .work{
	margin-top: 20px;
	float: right;
}
.project .urls{
	padding:0;
	padding-left: 18px;
	width:47%;
	float: left;
}
.project .urls li{
	margin-bottom:1px;
	font-size:13px;
	color: #777;
}
.project .urls li span{
	opacity: 0;
	color:#ff7471;
	-webkit-transition: all 0.15s ease-in-out;
     -moz-transition: all 0.15s ease-in-out;
       -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
.project .urls li:hover span{
	opacity: 1;
}
.project .urls a{
	color:#ff7471;
}



.work .item:hover{
	cursor: pointer;
}
.work .cycle-pager{
	margin:20px 0;
	text-align: center;
}

.work .cycle-pager span{
	margin:0 2px;
	background:#fff;
	width:12px;
	height:12px;
	border-radius: 9px;
	border:1px #4387E8 solid;
	display:inline-block;
	cursor: pointer;
	opacity: 0.5;
	-moz-opacity: 0.5;
		filter:alpha(opacity=50);
}
.work .cycle-pager span.cycle-pager-active{
	background:#4387E8;
	opacity: 1;
	-moz-opacity: 1;
		filter:alpha(opacity=1);
}
.work .carousel-control{
	background-image:none;
}
.work .carousel-control span{
	color:#FF4040;
}
.work .carousel-indicators{
	margin-bottom:0;
	bottom:-30px;
}
.work .carousel-indicators li{
	border-color:#4387E8;
	background:#fff;
	opacity: 0.7;
	-moz-opacity: 0.7;
		filter:alpha(opacity=70);
}
.work .carousel-indicators li.active{
	background:#4387E8;
}

/* Index / Navigation */
#main_nav{
	margin-top:100px;
}
#main_nav img{
	margin-left:5px;
	display:block;
	width:50px;
	height:50px;
}

#main_nav,
#main_nav a{
	color:#63737C;
	color:#869DA8;
	color:#96B0BC;
	font-weight:500;
  -webkit-transition: all 0.15s ease-in-out;
     -moz-transition: all 0.15s ease-in-out;
       -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
#main_nav a:hover{
	color:#B7D7E5;
}

#main_nav .divider{
	margin-top:15px;
	margin-bottom:15px;
	border-top:1px #63737C solid;
}

.index{
	margin-top:100px;
	position:absolute;
}

.index .affix{
	top:55px;
}
.index ul{}
.index .nav>li>a{
	padding:3px 10px;
	color:#17253A;
	color:#203B6B;
	font-size:13px;
	text-transform: uppercase;
	font-weight:600;
	background:none;
}

.index .nav .active .active a{
	color:#356AB7;
}
.index .nav .dot {
	display: none;
	margin-left:3px;
	width:8px;
	height:8px;
	background:#4992FC;
/*	background:#FF6666;*/
	opacity: 0.75;
	-moz-opacity: 0.75;
		filter:alpha(opacity=75);
}
.index .nav .active .active .dot{
	display:inline-block;
}
.index .nav>li>a:hover,
.index .nav .active .active a:hover{
	color:#4387E8;
}
.index .nav .divider{
	margin:5px 100px 5px 10px;
	width:35px;
	border-top:1px #17253A solid;
}
.index ul ul{
	margin-bottom:15px;
}
.index .nav li li>a{
	padding:3px 10px 3px 10px;
	font-size:14px;
	font-weight:400;
	text-transform: none;
}
.index li li{}

#back-top{
	padding:5px 10px;
	bottom:0;
	left:25px;
	position:fixed;
	font-size:13px;
	background:rgba(255,255,255,.65);
}
