
/*
Hello. Welcome.

.---.                           .---.     .
    |                              /   o  |
    | .-. .--..-. .--.--. .  .    /    .  | .-.  .--.
    ;(.-' |  (.-' |  |  | |  |   /     |  |(   ) |
`--'  `--''   `--''  '  `-`--|  '---'-' `-`-`-'`-'
                             ;
                          `-'
©2014 Jeremy Zilar
jeremyzilar [at] gmail.com
http://silencematters.com
http://jeremyzilar.com
@jeremyzilar / Twitter
+JeremyZilar / Google Plus

*/


body{
	color:#17253A;
	color:#1A2F54;
	color:#203B6B;
	/*background:#F1F2F2;*/
	background:#fff;
}

body *{
	font-family: 'Lato', sans-serif;
}

a{
	color:#203B6B;
	text-decoration: none;
}


h1{
	font-size:40px;
	font-weight:800;
}

h3{
	margin:20px 0;
	font-size:21px;
	font-weight:900;
}

h4{
	font-size:18px;
	font-weight:900;
}

p{
	margin-bottom: 15px;
}

hr{
	margin:0;
}

section{
	padding-top:40px;
	padding-bottom:40px;
}

.divider{
	margin:15px 100px 15px 0;
	width:55px;
	border-top:1px #17253A solid;
}


/*Banner*/
#banner{
	padding:0 !important;
}
#banner nav{
	position:absolute;
	top:50px;
	left:5%;
}
#banner nav h1{
	color:#fff;
	display:block;
	width:120px;
	height:120px;
	border-radius: 120px;
	border:1px #fff solid;
	font-size:14px;
}

#banner ul{
	padding:0;
}
#banner li{
	margin:5px 0;
	list-style-type:none;
}
#banner li a{
	padding:3px 10px;
	background:#efefef;
	display:inline-block;
}





.headshot{
	margin: 0 auto 40px auto;
	text-align: center;
	width:218px;
	height:218px;
	border-radius: 200px;
	border:5px #F1F2F2 solid;
	background: #fff;
}

.headshot img{
	margin-left: 4px;
	margin-top: 4px;
	width:200px;
	border-radius: 150px;
}


.vcard{
	text-align: left;
}
.vcard h1{
	margin: 0;
	margin-bottom: 20px;
	font-size: 28px;
	font-weight: 900;
}
.vcard h2{
	margin: 0;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	display: none;
}
.vcard .adr{
	display: none;
}
.vcard .tel{
	margin-bottom: 20px;
}

.vcard .elsewhere{}
.vcard .elsewhere a {
	margin:0 6px;
	font-size: 16px;
}
.vcard .elsewhere a:hover{
}
.vcard .elsewhere a span{
	display: none;
}

.vcard .nav{
	margin-bottom:10px;
	font-size: 14px;
	font-weight: 600;
}


/*About Text / Bio*/
#bio{}
#bio .container{
	max-width:700px;
}
#bio hr{
	margin:40px 0;
	border-top:1px #333 solid;
}
#bio .photo{
	margin-bottom:20px;
	width:653px;
	height:430px;
}
#bio .photo .credit{
	margin:2px 0;
	font-size:9px;
	color:#888;
	text-align: right;
	display:block;
}

#bio .about{
	font-size: 18px;
}

#bio .vcard .email,
#bio .vcard .tel {
	display: none;
}





#resume{}
#resume .container{
	max-width:720px;
}

#resume .vcard{
	margin:0;
}
#resume .headshot{
	margin-bottom: 10px;
	width:76px;
	height:76px;
	display: none;
}

#resume .headshot img{
	margin-left: 3px;
	margin-top: 3px;
	width:60px;
}
#resume .vcard h1{
	margin: 0;
	margin-bottom: 5px;
	font-size: 21px;
}
#resume .nav,
#resume .elsewhere{
	display: none;
}



#resume .job{
	padding:20px 0;
}
#resume .job .date{
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 12px;
}
#resume .job .date .arrow-down{
	display: none;
}
#resume .job h5{
	margin:0;
	margin-bottom: 10px;
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
}
#resume .job h3{
	margin:0;
	margin-bottom: 16px;
	font-weight: 300;
}
#resume .job ul{
	padding:0 0 0 18px;
}

#resume .job ul.tags{
	padding: 0;
}
#resume .job ul.tags li{
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 2px 5px;
	list-style-type: none;
	float: left;
	background: #efefef;
}
#resume .job ul.tags li:first-child{
	/*padding-left: 0px;*/
}
#resume .job .desc{}


#resume .print{
	position: absolute;
	top:0;
	right:0;
	display: none;
}






.project{
	padding-top:100px;
	padding-bottom:100px;
  -webkit-transition: all 2.0s ease-in-out;
     -moz-transition: all 2.0s ease-in-out;
       -o-transition: all 2.0s ease-in-out;
          transition: all 2.0s ease-in-out;
}
.project h3{
	margin-top:0;
	margin-bottom:30px;
	font-size:28px;
	font-weight:600;
}
.project .urls{
	margin-top:25px;
	padding:0;
}
.project .urls li{
	margin-bottom:3px;
	list-style-type: none;
	font-size:13px;
}
.project .urls li span{
	display:none;
}
.project .urls li:hover span{
	display:inline;
}
#welcome{
	padding-bottom:120px;
	height:800px;
	background:#222;
}

#work{
	border:none;
}

#kinetoscope img:hover{
	cursor: pointer;
}

/*Work Examples*/
.work{}
.work .item{
	max-height:550px;
	overflow: scroll;
}

.work .item img{
	min-height:200px;
	width:458px;
}
.work .item:hover{
	cursor: pointer;
}
.work .cycle-pager{
	margin:5px 0;
	text-align: center;
}

.work .cycle-pager span{
	margin:0 2px;
	background:#fff;
	width:12px;
	height:12px;
	border-radius: 9px;
	border:1px #4387E8 solid;
	display:inline-block;
	cursor: pointer;
	opacity: 0.5;
	-moz-opacity: 0.5;
		filter:alpha(opacity=50);
}
.work .cycle-pager span.cycle-pager-active{
	background:#4387E8;
	opacity: 1;
	-moz-opacity: 1;
		filter:alpha(opacity=1);
}
.work .carousel-control{
	background-image:none;
}
.work .carousel-control span{
	color:#FF4040;
}
.work .carousel-indicators{
	margin-bottom:0;
	bottom:-30px;
}
.work .carousel-indicators li{
	border-color:#4387E8;
	background:#fff;
	opacity: 0.7;
	-moz-opacity: 0.7;
		filter:alpha(opacity=70);
}
.work .carousel-indicators li.active{
	background:#4387E8;
}

/* Index / Navigation */
#main_nav{
	margin-top:100px;
}
#main_nav img{
	margin-left:5px;
	display:block;
	width:50px;
	height:50px;
}

#main_nav,
#main_nav a{
	color:#63737C;
	color:#869DA8;
	color:#96B0BC;
	font-weight:500;
  -webkit-transition: all 0.15s ease-in-out;
     -moz-transition: all 0.15s ease-in-out;
       -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
#main_nav a:hover{
	color:#B7D7E5;
}

#main_nav .divider{
	margin-top:15px;
	margin-bottom:15px;
	border-top:1px #63737C solid;
}

.index{
	margin-top:100px;
	position:absolute;
}

.index .affix{
	top:55px;
}
.index ul{}
.index .nav>li>a{
	padding:3px 10px;
	color:#17253A;
	color:#203B6B;
	font-size:13px;
	text-transform: uppercase;
	font-weight:600;
	background:none;
}

.index .nav .active .active a{
	color:#356AB7;
}
.index .nav .dot {
	display: none;
	margin-left:3px;
	width:8px;
	height:8px;
	background:#4992FC;
/*	background:#FF6666;*/
	opacity: 0.75;
	-moz-opacity: 0.75;
		filter:alpha(opacity=75);
}
.index .nav .active .active .dot{
	display:inline-block;
}
.index .nav>li>a:hover,
.index .nav .active .active a:hover{
	color:#4387E8;
}
.index .nav .divider{
	margin:5px 100px 5px 10px;
	width:35px;
	border-top:1px #17253A solid;
}
.index ul ul{
	margin-bottom:15px;
}
.index .nav li li>a{
	padding:3px 10px 3px 10px;
	font-size:14px;
	font-weight:400;
	text-transform: none;
}
.index li li{}

#back-top{
	padding:5px 10px;
	bottom:0;
	left:25px;
	position:fixed;
	font-size:13px;
	background:rgba(255,255,255,.65);
}
