<section id="elsewhere">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <article>
          <div class="content">
            <p>Find out more about me: </p>
            <ul>
              <li><a href="https://github.com/jeremyzilar" title="Jeremy Zilar on LinkedIn">LinkedIn</a></li>
              <li><a href="https://github.com/jeremyzilar" title="Jeremy Zilar on GitHub">GitHub</a></li>
              <li><a href="https://github.com/jeremyzilar" title="Jeremy Zilar on Instagram">Instagram</a></li>
              <li><a href="https://github.com/jeremyzilar" title="Jeremy Zilar on Twitter">Twitter</a></li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-6">
        <article>
          <div class="content">
            {% include kinetoscope.html %}
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
