
// Headings

main{
  margin-bottom: 80px;
}
section{
  padding: 40px 0;
}
article{
  .head{
    h1{
      margin-top: 0;
      font-size: 36px;
    }
  }
  .content{
    margin-top: 0;
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
    img{
      width: 100%;
    }
    li{
      margin-bottom: .5em;
    }
    p{
      margin-top: 0;
      margin-bottom: 1em;
    }
  }
}
#home,
#interests,
#elsewhere{
  article{
    .content{
      font-size: 30px;
      line-height: 48px;
    }
  }
}
.work{
  article{
    h1{
      margin-bottom: .5em;
    }
    h5{
      font-weight: 600;
      padding: 3px 8px 4px 8px;
      border: 1px $deep solid;
      display: inline-block;
      font-size: 14px;
    }
    .content{
      a{
        padding-bottom: 1px;
        border-bottom: 2px $bg solid;
      }
      ul{
        padding-right: 40px;
        margin-top: 0;
        font-size: 18px;
      }
    }
  }
}
