#elsewhere{
  ul{
    padding: 0;
    font-size: 22px;
    line-height: 30px;
    li{
      list-style-type: none;
      a{
        border: none;
      }
      a:hover{
        border-bottom: 1px $deep solid;
      }
    }
  }
}

#kinetoscope{
  img{
    display: none;
  }
  .show{
    display: block;
  }
}
