#elsewhere{
  padding: 40px 0;
  ul{
    padding: 0;
    li{
      list-style-type: none;
    }
  }
  a{
    border: none;
  }
  a:hover{
    border-bottom: 1px $deep solid;
  }
}

#kinetoscope{
  img{
    display: none;
  }
  .show{
    display: block;
  }
}
