---
layout: default
---

<section id="work" class="resume">
	<div class="container">

		<div class="row">
			<div class="col-12 col-md-8">
				<a href="{{ site.baseurl }}/assets/jeremy-zilar_resume.pdf" class="pdf"><em><i class="far fa-file-pdf"></i> Download PDF</em></a>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-8">
				<h4 class="heading">Experience</h4>

				<div class="role">
					<div class="date">Mar 2017 <span class="arrow-right">&#8594;</span> Present</div>
					<div class="details">
					  <h5>General Services Administration / GSA</h5>
					  <h3>Director, Digital.gov</h3>

						<p>Modernizing and directing a decade-old program aimed at helping teams in government build better, more reliable digital services for the public. Collaborating with digital leaders who are facing similar challenges across federal agencies, and with governments around the world. Oversaw 19 government-wide communities of practice and developed an events and training program. Provided a long-term foundation for the U.S. Web Design System to grow and flourish as a congressionally-funded, open-source project.</p>

						<p>Highlights: Worked with government communication/PR teams to implement crowdsourcing and collaboration around common technology challenges and problems. Rebuilt Digital.gov as an open-source project, largely using free available tools. </p>
					</div>
				</div>

        <div class="role">
					<div class="date">Nov 2017 <span class="arrow-right">&#8594;</span> Present</div>
					<div class="details">
					  <h5>The Brooklyn Rail</h5>
					  <h3>Board Member</h3>
					</div>
				</div>

				<div class="role">
					<div class="date">May 2016 <span class="arrow-right">&#8594;</span> Mar 2017</div>
					<div class="details">
					  <h5>18F</h5>
					  <h3>Strategist / Innovation Specialist [GS15]</h3>

					  <p>Led engagements with government agencies (Federal, State, Local, Tribal) on mission-critical projects, aligning strategy, vision and operational objectives with an aim toward user-centered design, agile methodologies, transparency and open source.</p>

					</div>
				</div>

				<div class="role">
					<div class="date">Mar 2015 <span class="arrow-right">&#8594;</span> Apr 2016</div>
					<div class="details">
					  <h5>Time Inc.</h5>
					  <h3>Director of Platform Engineering, CMS</h3>

					  <p>Hired and led a team of creative technologists to redesign and engineer Fortune Magazine, and the Fortune 500 dataset. Implemented an agile process to manage editorial, design, product and technology efforts. Developed a culture of iterative releases, and used data to help the team make goal-oriented decisions. Developed new editorial tools that enable the magazine to express its identity online.</p>

						<p>Highlights: Recruited new talent for engineering teams. Implemented agile process to manage editorial, business and technology efforts. Facilitated culture of cross-team collaboration and knowledge sharing demos and transparent communication.</p>

					</div>
				</div>


				<div class="role">
					<div class="date">July 2012 <span class="arrow-right">&#8594;</span> Dec 2014</div>
					<div class="details">
					  <h5>The New York Times</h5>
					  <h3>Editorial and Design Strategist</h3>

					  <p>Worked independently and across teams on larger editorial strategy and design-related projects across the <em>Times</em> that spanned areas of branding, identity, editorial tools, and internal communication.</p>

						<p>Highlights: Completed a full content audit of nytimes.com and mobile apps in advance of a major redesign, revealing overlaps in coverage, gaps in communication, and redundant work. Reimagined new online formats for <em>The New York Times Magazine</em>. Developed tools that used live data to help editors visualize the impact of their work and created ways for the <em>Times</em> to reach new audiences.</p>
					</div>
				</div>


				<div class="role">
					<div class="date">April 2006 <span class="arrow-right">&#8594;</span> July 2012</div>
					<div class="details">
					  <h5>The New York Times</h5>
					  <h3>Blog Specialist / Design Technologist</h3>

					  <p>Responsible for launching and leading the long-term digital strategy on 200+ blogs on NYTimes.com, including DealBook, FiveThirtyEight, Well, Bits, CityRoom, Opinionator, and The Lede — a blog devoted to breaking news. Oversaw the design and development of a platform for building sucessful, editorial brands within the organization. Championed the <em>Times’</em> early efforts to transform a print newsroom into a highly responsive, digital-first operation that could produce continuous and and real-time news on the web.</p>

						<p>Highlights: In addition to designing and building a scalable framework, developed the editorial workflows across the newsroom and managed the daily digital operations across the platform. Developed initial newsroom strategies for breaking news, live coverage, live blogging, reader comments, and news over Twitter.</p>

					</div>
				</div>


				<div class="role">
					<div class="date">Aug 2011 <span class="arrow-right">&#8594;</span> Nov 2014</div>
					<div class="details">
					  <h5>Rookie Magazine</h5>
					  <h3>Advisor</h3>
					  <p>Approached by Ira Glass and Tavi Gevinson to oversee the design, build and launch Rookie Magazine, an alternative online publication for teenage girls. Established goals, set expectations and pulled together a team to design and build a publication and identity in under a month.</p>
					</div>
				</div>


				<div class="role">
					<div class="date">June 2005 <span class="arrow-right">&#8594;</span> April 2006</div>
					<div class="details">
					  <h5>Cardiovascular Research Foundation</h5>
					  <h3>Lead web designer/developer</h3>
					  <p>Redesigned and developed the foundation’s website according to best practices at the time. Worked with nonprofit board, marketing teams, and heart surgeons to bring project to completion.</p>
					</div>
				</div>


				<div class="role">
					<div class="date">Aug 2011 <span class="arrow-right">&#8594;</span> Aug 2014</div>
					<div class="details">
					  <h5>The Maple Street School, <span>Brooklyn, NY</span></h5>
					  <h3>Board Member / Communications and Design</h3>
					  <p>From 2011—2014, Jeremy was the Board Chair of Communication and Design at Maple Street School, a Cooperative Pre-School in Brooklyn, New York.</p>
					  <p>As chair, he restructured the communication and technology across the school and redesigned the school's identity, website and application process.</p>
					  <p>He now serves on the school's Advisory Board.</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section id="education" class="resume">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h4 class="heading">Education</h4>

        <div class="role">
          <div class="details">
            <h5>The Rocky Mountain College of Art and Design</h5>
            <h3>BFA, Painting, Drawing, and Digital Media</h3>
          </div>
          <div class="date">1998 <span class="arrow-right">&#8594;</span> May 2001</div>
        </div>

        <div class="role">
          <div class="details">
            <h5>School of Visual Arts</h5>
            <h3>Courses in design and typography</h3>
          </div>
          <div class="date">2005 <span class="arrow-right">&#8594;</span> 2006</div>
        </div>

      </div>
    </div>
  </div>
</section>
