---
layout: default
---

<section id="work" class="resume">
	<div class="grid-container grid-container-desktop-lg">

		<div class="grid-row">
			<div class="grid-col-12 tablet:grid-col-7">
				<a href="{{ site.baseurl }}/assets/jeremy-zilar_resume.pdf" class="pdf"><em><i class="far fa-file-pdf"></i> <span>Download PDF</span></em></a>
			</div>
		</div>

		<div class="grid-row">
			<div class="grid-col-12 grid-col-12 tablet:grid-col-7">
				<h2>Experience</h2>
			</div>
		</div>
		{% for job in site.data.work.experience %}
		<div class="job job-{{ job.job }} usa-prose">
			<div class="grid-row">
				<div class="grid-col-12 tablet:grid-col-7">
					<div class="date">{{ job.date_start }} <span>&#8594;</span> {{ job.date_end }}</div>
					<h3>{{ job.title }}</h3>
					<h4>{{ job.company }}</h4>
					<div class="desc">
						{{ job.desc | markdownify }}
					</div>
				</div>
			</div>
		</div>
    {% endfor %}

		<div class="grid-row">
			<div class="grid-col-12 grid-col-12 tablet:grid-col-7">
				<h2>Education</h2>
			</div>
		</div>

		{% for school in site.data.work.education %}
		<div class="school school-{{ school.name }} usa-prose">
			<div class="grid-row">
				<div class="grid-col-12 tablet:grid-col-7">
					<h3>{{ school.name }}</h3>
					<h4>{{ school.degree }}</h4>
					<div class="date">{{ school.date_start }} <span>&#8594;</span> {{ school.date_end }}</div>
				</div>
			</div>
		</div>
    {% endfor %}

		<div class="grid-row">
			<div class="grid-col-12 grid-col-12 tablet:grid-col-7">
				<h2>Volunteer</h2>
			</div>
		</div>

		{% for vol in site.data.work.volunteer %}
		<div class="job job-{{ vol.job }} usa-prose">
			<div class="grid-row">
				<div class="grid-col-12 tablet:grid-col-7">
					<div class="date">{{ vol.date_start }} <span>&#8594;</span> {{ vol.date_end }}</div>
					<h3>{{ vol.title }}</h3>
					<h4>{{ vol.company }}</h4>
					<div class="desc">
						{{ vol.desc | markdownify }}
					</div>
				</div>
			</div>
		</div>
    {% endfor %}

	</div>
</section>
